<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPA Shop</title>
    <link th:href="@{/css/product/product-list-style.css}" rel="stylesheet" />
    <link th:href="@{/css/global-style.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="/fragments/header.html :: body-header"></header>
<div class="search-bar">
    <div class="search-bar-inputs">
        <button class="category-button" onclick="toggleCategoryMenu()">카테고리</button>
        <input type="text" id="search-input" placeholder="내용을 입력해 주세요">
        <button onclick="handleSearch()">검색</button>
        <button onclick="resetSearch()">초기화</button>
    </div>
    <div class="price-inputs">
        <input type="number" id="min-price" placeholder="최소 가격">
        <input type="number" id="max-price" placeholder="최대 가격">
    </div>
</div>
<div class="sort-bar">
    <select id="sort-select">
        <option value="BY_DATE">최신순</option>
        <option value="BY_PRICE">가격순</option>
        <option value="BY_NAME">이름순</option>
    </select>
</div>
<div class="category-menu" id="categoryMenu">
    <div class="category">
        <div class="category-title">음반</div>
        <div th:each="category : ${categories.get(T(jpabook.jpashop.enums.product.ProductType).ALBUM).getCategories()}">
            <div class="category-item" th:text="${category.name}" th:id ="${category.uid}"></div>
        </div>
    </div>
    <div class="category">
        <div class="category-title">책</div>
        <div th:each="category : ${categories.get(T(jpabook.jpashop.enums.product.ProductType).BOOK).getCategories()}">
            <div class="category-item" th:text="${category.name}"  th:id ="${category.uid}" ></div>
        </div>
    </div>

    <div class="category">
        <div class="category-title">영화</div>
        <div th:each="category : ${categories.get(T(jpabook.jpashop.enums.product.ProductType).MOVIE).getCategories()}">
            <div class="category-item" th:text="${category.name}" th:id ="${category.uid}"></div>
        </div>
    </div>

</div>
<main>
    <div class="product-container" id="product-container">
    </div>
    <div id="loading">Loading...</div>
</main>
<footer th:replace="/fragments/footer.html :: body-footer">
</footer>
<script th:src="@{/js/product/list-scripts.js}"></script>
</body>
</html>