
.login-container {
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
.login-form{
    margin-bottom: 10px;

}
.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.register-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
}

.social-login {
    margin-top: 20px;
}

.social-button {
    display: inline-block;
    margin: 5px;
}


