<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPA Shop</title>
    <link th:href="@{/css/home-style.css}" rel="stylesheet" />
    <link th:href="@{/css/global-style.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="/fragments/header.html :: body-header"></header>
<main>
    <div class="menu-container">
        <a th:href="@{/product/list}">
            <div class="menu-item">상품 조회</div>
        </a>
        <a th:href="@{/user/info}">
            <div class="menu-item">로그인/회원관리</div>
        </a>
        <div class="menu-item">장바구니 관리</div>
        <div class="menu-item">주문 관리</div>
    </div>
</main>
<footer th:replace="/fragments/footer.html :: body-footer">
</footer>
</body>
</html>